/*---------------nav---------------*/
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a:nth-child(1) {
    float: left;
    display: block;
    color: #424242;
    text-align: center;
    padding: 40px 0px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Muli', sans-serif;
    letter-spacing: 1px;
}

.topnav a:nth-child(n+2):nth-child(-n+5) {
    float: right;
    display: block;
    color: #666666;
    text-align: center;
    padding: 50px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    font-weight: 500;
}



/* Change the color of links on hover */
.topnav a:nth-child(n+2):nth-child(-n+5):hover {
    color: #f0ad41;
}

a:hover {
    text-decoration: none;
}

#Resume a {
    color: #424242;
    border-bottom: 1px dotted #f0ad41;
}

#Resume a:hover {
    /*text-decoration: none;*/
    color: #f0ad41;
}


body {
  background-color: white;
}
h1 {
  color: black;
}
p {
  color: gray;
}