/*---------------nav---------------*/
.topnav {
    overflow: hidden;
}


.topnav a:nth-child(1) {
    float: left;
    display: block;
    color: #424242;
    text-align: center;
    padding: 40px 0px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Muli', sans-serif;
    letter-spacing: 1px;
}

.topnav a:nth-child(n+2):nth-child(-n+5) {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 50px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
}


/* Change the color of links on hover */
.topnav a:nth-child(n+2):nth-child(-n+5):hover {
    color: gray;
}

a:hover {
    text-decoration: none;
}


/* Text Featuers */
body {
  background-color: white;
}
h1 {
  color: black;
  text-align: center;
  font-size: 30px;
}
h2 {
  color: black;
  text-align: left;
  font-size: 25px;
}
p {
  color: gray;
  font-size: 20px;
  text-align: left;
}
